@page
@model ResetPasswordConfirmationModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_LayoutAnonymous.cshtml";
    ViewData["Title"] = "Reset password confirmation";
}



<div class="container-fluid mtb-center">
    <div class="row justify-content-center align-items-center ">
        <div class="px-139 w-login bg-white">
            <h3 class="Forgot text-center">  @Localizer["Reset password confirmation"]</h3>
            <p class="Forgot-sup text-center">
                @Localizer["Your password has been reset."]
            </p>

            <div class="row p-0">

                <div class="text-center">
                    <p>
                        <a class="form-label" asp-area="Identity" asp-controller="Account" asp-action="Login">@Localizer["Back to Log in"]</a>
                    </p>


                </div>
            </div>

        </div>
    </div>
</div>
