
<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </div>
                <h4 class="modal-title w-100">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete these records? This process cannot be undone.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary shadow-lg" data-dismiss="modal">Cancel</button>
                <a id="Delete_Modal" type="button" class="btn btn-danger shadow-lg" style="padding-top:12px ;padding-bottom:11px;margin-top:6px" href="">Delete</a>
            </div>
        </div>
    </div>
</div>