@model string
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<style>
    .tabcontent .alert.alert-success {
        font-size: 16px;
        color: #0f5132 !important;
        background-color: #d1e7dd !important;
        border-radius: 10px;
        width: 100%;
        padding: 23px 0;
    }
</style>

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";

    <div class="alert alert-@statusMessageClass fade show d-flex justify-content-between align-items-center"
         role="alert">
        <div class="m-0 font-foot-smoll d-flex align-items-center">
            <i class="fa-solid fa-bell px-3"></i>
            <p class="mb-0">
               @Localizer[Model]
            </p>
        </div>
        <i class="modal-Close fa-solid fa-circle-xmark px-3 " style="color:#939795" data-bs-dismiss="alert"
           aria-label="Close"></i>
    </div>

}
